@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/franklin-gothic-demi-cond');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: unset;
}

body {
    height: 100vh;
    display: flex;
    background-color: #f8f8f8;
}

.menuhome{
    height: 100vh;
}