@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.cdnfonts.com/css/franklin-gothic-demi-cond');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    height: 100vh;
    display: flex;
}

.menuhome{
    height: 100vh;
    background-color: #f8f8f8;
}