@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/franklin-gothic-demi-cond');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: unset;
}

body {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: #f8f8f8;
}

:root {
    --purple: #242038;
    --violet: #725AC1;
    --background: white;
    --spacing-s: 0.75rem;
    --spacing-m: 1.25rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;

    --font-size-s: 1rem;
    --font-size-sm: 1.25rem;
    --font-size-m: 1.5rem;
    --font-size-l: 2rem;
    --font-size-xl: 2.2rem; 
}