
.btnhome{
    font-family: 'Raleway';
    font-size: 25px;
    padding:20px 100px;
    width: 200px;
    transform:translate(95px, 100px);       
    color: white;
    background-color: #242038;
    border: 1px solid #555;
    border-radius: 10px;
    user-select:none;
    cursor: pointer;
    position: relative;
    text-align: center;
    
}   

.btnhome:hover{
    background: #423d5c;
    transition: 1s;
}
    
.btnequip{
    font-family: 'Raleway';font-size: 25px;
    padding:20px 30px;
    width: 200px;
    transform:translate(95px, 120px);
    color: white;
    background-color: #242038;
    border: 1px solid #555;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.btnequip:hover{
    background: #423d5c;
    transition: 1s;
}
.btnClient{
    font-family: 'Raleway';font-size: 25px;
    padding:20px 30px;
    width: 200px;
    transform:translate(95px, 140px);
    color: white;
    background-color: #242038;
    border: 1px solid #555;
    border-radius: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.btnClient:hover{
    background: #423d5c;
    transition: 1s;
}
.tituloroxo{
font-family: 'Franklin Gothic Demi Cond', sans-serif;
 color: #725AC1;
 font-size: 45px;
 letter-spacing: 10px;
 transform:translate(120px, 10px); 
 position: absolute;                                          
}
