#menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: var(--spacing-xl);
    gap: var(--spacing-s);
    height: calc(100vh - (var(--spacing-xl) + var(--spacing-xl)));
}

.left-side {
    gap: 1rem;
    height: calc(100vh - var(--spacing-xl));
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
}

.side-search-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 2.5rem;
}

.side-search-options button, .side-search-options select {
    cursor: pointer;
}

.side-search, .side-search-options button {
    padding: 0.175rem;
    height: 100%;
}

.item-box, .side-search, .side-search-options button, .side-search-options select {
    border-radius: 0.5rem;
    background-color: white;
}

.side-search, .filter, .item-box {
    box-shadow: var(--box-shadow);
}

.filter {
    width: 6rem;
    height: 2.5rem;
    width: fit-content;
    font-size: 1rem;
}

.side-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-items {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.item-box {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 0 0 1rem 0;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
}

.item-details h2 {
    width: 70%;
    font-weight: 700;
    font-size: 2rem;
}

.item-details h3 {
    width: 70%;
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 300;
    margin: 0.25rem 0;
}

.line-divisor {
    height: 100%;
    background-color: var(--violet);
    width: 2px;
}

.item-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-details .item-status {
    width: 20%;
    font-weight: 500;
    background-color: yellow;
    text-align: center;
    border-radius: 5px;
    padding: 2px 0 0 0;
}

.status-available {
    background-color: green;
}