#menu-container {
    width: calc(100% - 15.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-xl);
}

.left-side {
    gap: 1rem;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
}

.side-search-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: 3rem;
}

.side-search-options button, .side-search-options select {
    cursor: pointer;
}

.side-search, .side-search-options button, .side-search-options select {
    padding: 0.175rem;
    height: 100%;
}

.item-box, .side-search, .side-search-options button, .side-search-options select {
    border-radius: 0.5rem;
    background-color: white;
}

.side-search, .filter, .item-box {
    box-shadow: var(--box-shadow);
}

.filter {
    width: 6.5rem;
}

.filter select {
    width: 100%;
    font-size: 1rem;
}

.side-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-items {
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-box {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}

.side-items::-webkit-scrollbar {
    display: none;
    width: 0;
}

.item-details h2 {
    font-weight: 700;
    font-size: 2rem;
}

.item-details h3 {
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 300;
}