aside{
    width: 15.5rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #242038;
    padding: var(--spacing-m) 0;
}

.aside-close {
    width: 4.5rem;
    transition: 200ms;
}

.aside-full {
    width: 15.5rem;
    transition: 200ms;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;             
}

.header h2 {
    font-family: 'Franklin Gothic Demi Cond', sans-serif;
    color: #725AC1;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

.aside-buttons{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 14rem;
}

.btn-aside {
    font-family: 'Raleway';
    font-size: var(--font-size-sm);
    width: 100%;
    color: white;
    background-color: #242038;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    text-align: center;
    height: 3.5rem;
}

.btn-aside a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-icon, .btn-icon img, .close-icon, .close-icon img {
    height: 1.4rem;
}

.close-icon {
    margin-bottom: 2rem;
    cursor: pointer;
}

.btn-icon {
    margin-left: 1rem;
  
}

.btn-active {
    width: 0.7rem;
    height: 2.3rem;
    border-radius: 3px;
    background-color: none;
}

.show-mark {
    background-color: #8D86C9;
}

.btn-aside:hover {
    background-color: #393357;
}

.aside-github img {
    width: 2.7rem;
}

.active-menu {
    background-color: #393357;
}
