aside{
    width : 16.5rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #242038;
    padding: 1.25rem 0;   
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

.aside-buttons{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 14rem;
}

.btn-aside {
    font-family: 'Raleway';
    font-size: 1.5rem;
    width: 100%;
    padding: 1.1rem 0;  
    color: white;
    background-color: #242038;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    text-align: center;
}

.btn-aside a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-icon img {
    width: 1.8rem;
    margin-left: 1rem;
}

.btn-active {
    background-color: #8D86C9;
    width: 1rem;
    height: 2.3rem;
    border-radius: 5px;
}

.btn-aside:hover {
    background-color: #393357;
}

.header{
    font-family: 'Franklin Gothic Demi Cond', sans-serif;
    color: #725AC1;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;                       
}

.aside-github img {
    width: 2.5rem;
}
