<%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/aside-menu.ejs')%>
    <div>
        <link href="css/cliente.css" rel="stylesheet" />
        <div>
          <div class="cliente-cliente">
            <img
              src="/playground_assets/rectangle2983-m5o2-2000w.png"
              alt="Rectangle2983"
              class="cliente-rectangle2"
            />
            <img
              src="/playground_assets/rectangle1984-lwx-400w.png"
              alt="Rectangle1984"
              class="cliente-rectangle1"
            />
            <div class="cliente-group11">
              <img
                src="/playground_assets/ellipse42237-9hqo-200h.png"
                alt="Ellipse42237"
                class="cliente-ellipse4"
              />
              <span class="cliente-text"><span>Cliente</span></span>
            </div>
            <img
              src="/playground_assets/rectangle3986-eawj-200h.png"
              alt="Rectangle3986"
              class="cliente-rectangle3"
            />
            <img
              src="/playground_assets/ellipse1987-jpy-200h.png"
              alt="Ellipse1987"
              class="cliente-ellipse1"
            />
            <span class="cliente-text02"><span>Home</span></span>
            <img
              src="/playground_assets/rectangle4989-rk8k-200w.png"
              alt="Rectangle4989"
              class="cliente-rectangle4"
            />
            <img
              src="/playground_assets/ellipse2990-9stq-200h.png"
              alt="Ellipse2990"
              class="cliente-ellipse2"
            />
            <span class="cliente-text04"><span>Equipamento</span></span>
            <div class="cliente-group1">
              <img
                src="/playground_assets/rectangle6998-fjuh-200h.png"
                alt="Rectangle6998"
                class="cliente-rectangle6"
              />
              <span class="cliente-text06"><span>Cadastro de equipamento</span></span>
              <span class="cliente-text08"><span>CONFIRMAR</span></span>
              <span class="cliente-text10"><span>LIMPAR</span></span>
            </div>
            <div class="cliente-group2">
              <span class="cliente-text12"><span>Campo:</span></span>
              <img
                src="/playground_assets/rectangle209185-3z6-200h.png"
                alt="Rectangle209185"
                class="cliente-rectangle20"
              />
            </div>
            <div class="cliente-group3">
              <span class="cliente-text14"><span>Campo:</span></span>
              <img
                src="/playground_assets/rectangle209188-pvl6-200h.png"
                alt="Rectangle209188"
                class="cliente-rectangle201"
              />
            </div>
            <div class="cliente-group4">
              <span class="cliente-text16"><span>Campo:</span></span>
              <img
                src="/playground_assets/rectangle209191-d1b9-200h.png"
                alt="Rectangle209191"
                class="cliente-rectangle202"
              />
            </div>
            <div class="cliente-group5">
              <span class="cliente-text18"><span>Campo:</span></span>
              <img
                src="/playground_assets/rectangle209194-miv3-200h.png"
                alt="Rectangle209194"
                class="cliente-rectangle203"
              />
            </div>
            <div class="cliente-group8">
              <span class="cliente-text20"><span>Campo:</span></span>
              <img
                src="/playground_assets/rectangle209197-phwk-200h.png"
                alt="Rectangle209197"
                class="cliente-rectangle204"
              />
            </div>
            <div class="cliente-group6">
              <span class="cliente-text22"><span>Campo:</span></span>
              <img
                src="/playground_assets/rectangle209200-kw3-200h.png"
                alt="Rectangle209200"
                class="cliente-rectangle205"
              />
            </div>
            <div class="cliente-group9">
              <span class="cliente-text24"><span>Campo:</span></span>
              <img
                src="/playground_assets/rectangle209203-hulk-200h.png"
                alt="Rectangle209203"
                class="cliente-rectangle206"
              />
            </div>
            <div class="cliente-group7">
              <span class="cliente-text26"><span>Campo:</span></span>
              <img
                src="/playground_assets/rectangle209206-uhe-200h.png"
                alt="Rectangle209206"
                class="cliente-rectangle207"
              />
            </div>
            <div class="cliente-group10">
              <span class="cliente-text28"><span>Campo:</span></span>
              <img
                src="/playground_assets/rectangle209209-1089-200h.png"
                alt="Rectangle209209"
                class="cliente-rectangle208"
              />
            </div>
            <div class="cliente-group16">
              <span class="cliente-text30"><span>Confirmar</span></span>
            </div>
            <div class="cliente-group15">
              <span class="cliente-text32"><span>Limpar</span></span>
            </div>
            <img
              src="/playground_assets/githubicon2257-0ikl-200h.png"
              alt="githubicon2257"
              class="cliente-githubicon"
            />
            <span class="cliente-text34"><span>YEEZY</span></span>
            <img
              src="/playground_assets/vector32265-toe.svg"
              alt="Vector32265"
              class="cliente-vector3"
            />
          </div>
        </div>
      </div>
      
</body>
</html>