<%- include('../partials/head.ejs') -%>
<link rel="stylesheet" href="css/equipaments.css">

<%- const Sequelize = require('sequelize')-%>
<%- const database = require('../../public/configdb')-%>

</head>
<body>
    <div class="hidden-window">
        <div class="panel-header">
            <div class="header-container">
                <h1 class="header-raleway">Novo Equipamento</h1>
            </div>
            <div class="panel-body">
                <form action="" method="post">
                    <label for="equipament-name">
                        Nome*: <br>
                        <input type="text" name="equipament-name" id="equipament-name" required>
                    </label>
                    <label for="equipament-serial-number">
                        Serial Number*: <br>
                        <input type="text" name="equipament-serial-number" id="equipament-serial-number" required>
                    </label>
                    <label for="equipament-part-number">
                        Part Number*: <br>
                        <input type="text" name="equipament-part-number" id="equipament-part-number" required>
                    </label>
                    <label for="equipament-description">
                        Descrição: <br>
                        <input type="text" name="equipament-description" id="equipament-description">
                    </label>
                    <div class="form-footer">
                        <button type="submit" class="btn-cta">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/aside-menu.ejs') -%>
    <div id="main-panel">
        <div class="panel-header">
            <div class="header-container">
                <h1 class="header-raleway">Equipamentos</h1>
            </div>
            <div class="panel-actions">
                <div class="search-bar">
                    <input type="search" name="equipament-search" placeholder="Pesquisar...">
                    <button type="submit">
                        <img src="icons/search.svg" alt="Pesquisar">
                    </button>
                </div>
                <div class="add-equipament-div">
                    <button class="add-equipament btn-ghost">Novo Equipamento</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table>
                <thead>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Serial Number</th>
                    <th>Part Number</th>
                    <th>Descrição</th>
                    <th>Ação</th>
                </thead>
                <tr>
                    <td>9</td>
                    <td>Produto</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>Excluir</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Produto</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>Excluir</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Produto</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>Excluir</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Produto</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>Excluir</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Produto</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>8585885</td>
                    <td>Excluir</td>
                </tr>
            </table>
        </div>

    </div>

    <script type="module" src="js/hiddenWindow.js"></script>
</body>
</html>