<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/aside-menu.ejs') %>
    <div id="menu-container">
        
    </div>


   <script type="module" src="configdb.js"></script> 
</body>
</html>