<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/aside-menu.ejs') %>
    <div class="menuhome"></div>    


   <script type="module" src="/src/configdb.js"></script> 
</body>
</html>