<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Home | Yeezy</title>
    <link href="https://fonts.cdnfonts.com/css/franklin-gothic-demi-cond" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway'>
    <link type="text/css" href="/public/css/menu-lateral.css">
    <link type="text/css" href="/public/css/btnlteral.css">
    <link type="text/html" href="/public/css/menuhome.css" >
    <link type="text/html" href="/public/css/body.css">
</head> 
<body>
    <div class="divroxa">
        <div class="tituloroxo">YEEZY</div>
        <button class="btnhome">Home</button>
        <button class="btnequip">Equipamento</button>
        <button class="btnClient">Cliente</button>
</div> 
<div class="menuhome"></div>    
</body>
</html>