<aside>
    <div class="header">YEEZY</div>
    <div class="aside-buttons">
        <button class="btn-aside"><a href="/">Home</a></button>
        <button class="btn-aside"><a href="/equipament">Equipamento</a></button>
        <button class="btn-aside"><a href="/client">Cliente</a></button>
    </div>
    <div class="aside-github">
        <a href="https://github.com/AllysomFernando/YeezyManegement" target="_blank">
            <img src="icons/github.svg" alt="Github"/>
        </a>
    </div>
</aside>