<aside class="aside-full">
    <div class="header">
        <h2>YEEZY</h2>
    </div>
    <div class="aside-buttons">
        <button class="btn-aside <% if(menu.home) {%> active-menu <% } %>">
            <a href="/">
                <div class="btn-icon">
                    <img src="icons/home.svg" alt="home icon" class="svg">
                </div>
                <p>Home</p>
                <div class="btn-active <% if(menu.home) {%> show-mark <% } %>"></div>
            </a>
        </button>
        <button class="btn-aside <% if(menu.equipaments) {%> active-menu <% } %>">
            <a href="/equipaments">
                <div class="btn-icon">
                    <img src="icons/equipament.svg" alt="equipament icon">
                </div>
                <p>Equipamentos</p>
                <div class="btn-active <% if(menu.equipaments) {%> show-mark <% } %>"></div>
            </a>
        </button>
        <button class="btn-aside <% if(menu.clients) {%> active-menu <% } %>">
            <a href="/clients">
                <div class="btn-icon">
                    <img src="icons/client.svg" alt="equipament icon">
                </div>
                <p>Clientes</p>
                <div class="btn-active <% if(menu.clients) {%> show-mark <% } %>"></div>
            </a>
        </button>
    </div>
    <div class="aside-github">
        <div class="close-icon">
            <img src="icons/close-menu.svg">
        </div>
        <a href="https://github.com/AllysomFernando/YeezyManegement" target="_blank">
            <img src="icons/github.svg" alt="Github"/>
        </a>
    </div>

    <script type="module" src="js/asideMenu.js"></script>
</aside>