<aside>
    <div class="header">YEEZY</div>
    <div class="aside-buttons">
        <button class="btn-aside">
            <a href="/">
                <div class="btn-icon">
                    <img src="icons/setting.svg" alt="settings icon">
                </div>
                <p>Home</p>
                <div class="btn-active"></div>
            </a>
        </button>
        <button class="btn-aside"><a href="/equipament">Equipamento</a></button>
        <button class="btn-aside"><a href="/client">Cliente</a></button>
    </div>
    <div class="aside-github">
        <a href="https://github.com/AllysomFernando/YeezyManegement" target="_blank">
            <img src="icons/github.svg" alt="Github"/>
        </a>
    </div>
</aside>