<label for="equipament-name">
    Nome*: <br>
    <input type="text" name="equipamentName" id="equipament-name" required>
</label>
<label for="equipament-serial-number">
    Serial Number*: <br>
    <input type="text" name="equipamentSerialNumber" id="equipament-serial-number" required>
</label>
<label for="equipament-part-number">
    Part Number*: <br>
    <input type="text" name="equipamentPartNumber" id="equipament-part-number" required>
</label>
<label for="equipament-description">
    Descrição: <br>
    <input type="text" name="equipamentDescription" id="equipament-description">
</label>
<label for="equipament-quantidade">
    Quantidade: <br>
    <input type="number" name="equipamentQuantidade" id="equipament-quantidade">
</label>
<label for="equipament-Status">
    Status*: <br>
    <select name="equipamentStatus" id="equipament-Status">
        <option value="Disponivel" selected>Disponivel</option>
        <option value="Ocupado">Ocupado</option>
    </select>
</label>
<label for="equipament-cliente_idCliente">
    idCliente*: <br>
    <input type="text" name="cliente_idCliente" id="equipament-idCliente">
</label>
<div class="form-footer">
    <button class="close-window btn-ghost">Cancelar</button>
    <button type="submit" class="btn-cta">Salvar</button>
</div>